@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>フロイデ株式会社　入社時アンケート</h1>
    <p class="lead">フロイデ株式会社入社時アンケートシステムです。アンケートに答えて必要書類のダウンロードを行って下さい。</p>
    <p>@Html.ActionLink("ユーザーページへ", "Portal", "User", null, new { @class = "btn btn-default" })</p>
</div>
