
@{
    ViewBag.Title = "Portal";
}

<div class="jumbotron">
    <p>@User.Identity.Name</p>さんこんにちは
</div>

<p>@Html.ActionLink("入社アンケート", "Enquete", null, new { @class = "btn btn-info" })</p>
<p>@Html.ActionLink("必要書類確認", "EnqueteResult", null, new { @class = "btn btn-info" })</p>
